/* ==========================
   Import Style Templates
========================== */

@import url('templates/header.css');
@import url('templates/navbar.css');
@import url('templates/landing.css');

/* ==========================
   Font Styles
========================== */

@font-face {
  font-family: JosefinSans;
  src: url('fonts/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: Cubao;
  src: url('fonts/Cubao_Regular.otf');
}

/* ==========================
   General Styles 
========================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'JosefinSans', sans-serif;
    line-height: 1.6;
}

body {
    background: #a8d0e6;
    color: #1c348d;
    margin: 0;
    padding-top: 20px;
}

/* ==========================
   Responsive Design 
========================== */
@media (max-width: 1100px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        padding: 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .features {
        flex-direction: column;
    }

    .feature {
        margin: 20px 10px;
    }
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .btn {
        padding: 10px 20px;
    }

    .feature h2 {
        font-size: 1.5rem;
    }

    .feature p {
        font-size: 0.9rem;
    }
}

