/* ==========================
   Import Style Templates
========================== */

@import url('templates/colours.css');
@import url('templates/header.css');
@import url('templates/footer.css');
@import url('templates/navbar.css');
@import url('templates/landing.css');
@import url('templates/sidebar.css');
@import url('templates/auth.css');

/* ==========================
   Font Styles
========================== */

@font-face {
  font-family: JosefinSans;
  src: url('fonts/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: Cubao;
  src: url('fonts/Cubao_Regular.otf');
}

/* ==========================
   General Styles 
==========================  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'JosefinSans', sans-serif;
    line-height: 1.6;
}

html, body {
    height: 100%;
}

body {
    background: var(--light-blue);
    color: var(--dark-blue);
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.scroll-top-btn {
    background: none;
    border: none;
    padding: 0;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    display: none; /* hidden by default */
    transition: 0.3s ease;
    z-index: 9999;
}

.scroll-top-btn img {
    width: 100px;
    height: auto;
}

.scroll-top-btn:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

/* ==========================
   Responsive Design 
========================== */
@media (max-width: 1100px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        padding: 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .features {
        flex-direction: column;
    }

    .feature {
        margin: 20px 10px;
    }
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .btn {
        padding: 10px 20px;
    }

    .feature h2 {
        font-size: 1.5rem;
    }

    .feature p {
        font-size: 0.9rem;
    }
}

