/* ==========================
   Footer
========================== */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;      /* space above footer */
}

.footer-container {
    background: #f76c6c;
    border-radius: 20px 20px 0 0;
    max-width: 1100px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -3px 15px rgba(0,0,0,0.1);
}

.footer-left {
    font-family: "JosefinSans", sans-serif;
    color: #f3e7df;
    font-size: 0.9rem;
}

.footer-right a {
    font-family: "JosefinSans", sans-serif;
    color: #f3e7df;
    text-decoration: none;
    margin-left: 15px;
}

.footer-right a:hover {
    transition: 0.3s;
    color:  #1c348d;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer-right a {
        margin-left: 0;
        margin-right: 10px;
    }
}
