/* ==========================
   Header
========================== */
.header {
  background: #a8d0e6;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.header .container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 12px;
}


.header-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-btn img {
  width: 70px;
  height: auto;
  transition: transform 0.2s;
}
.header-btn img:hover { transform: scale(1.1); }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.logo img {
  width: 225px;
  height: auto;
  display: block;

}
@media (max-width: 420px) {
  .header-btn img { width: 60px; } 
  .logo img { width: 180px; }
}
