/* ==========================
   Header
========================== */
.header {
    background: #a8d0e6;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    margin-bottom: 50px;
}

.container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 225px;
    height: auto;
    display: block;
}

.logo img:hover {
    cursor: pointer;
}

.header-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-btn img {
    width: 75px;
    height: auto;
    transition: transform 0.2s;
}

.header-btn img:hover {
    transform: scale(1.1);
}
