/* ==========================
   Header
========================== */
.header {
    background: #a8d0e6;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-btn {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #f76c6c;
    transition: transform 0.2s;
}

.header-btn:hover {
    transform: scale(1.2);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 25%;
    height: 25%;
}

.logo img:hover {
    cursor: pointer;
}
