/* ==========================
    Bottom Navigation Bar
========================== */
.bottom-nav {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    background: linear-gradient(to bottom, #f3e7df, #a8d0e6);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    font-family: "JosefinSans", sans-serif;
    font-weight: bold;
    color: #f76c6c;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 999;
}

.bottom-nav a {
    color: #f76c6c;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.bottom-nav a:hover {
    color: #1c348d;
}
