/* ==========================
    Bottom Navigation Bar
========================== */
@import url('templates/colours.css');

.bottom-nav {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    background: var(--red);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    font-family: "JosefinSans", sans-serif;
    font-weight: bold;
    color: var(--red);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 999;
}

.bottom-nav a {
    color: var(--cream);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.bottom-nav a:hover {
    color: var(--dark-blue);
}
